@import 'tailwindcss';

:root {
  --background: #ffffff;
  --foreground: #171717;
}
@font-face {
  font-family: 'Stolzl';
  src: url('/stolzl_regular.otf');
  font-weight: 400;
}

@font-face {
  font-family: 'Stolzl';
  src: url('/stolzl_medium.otf');
  font-weight: 500;
}
/* In your css file where you want to use the font */

@theme {
  --padding-inline-main_px: 5rem;

  --color-green_main: rgb(10, 225, 95);
  --color-gray_light: rgb(44, 60, 74);
  --color-gray_main: rgb(33, 42, 52);

  --radius-xl: 0.5rem;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Stolzl, sans-serif;
}
