@import 'tailwindcss';

:root {
  --background: #ffffff;
  --foreground: #171717;
}
@font-face {
  font-family: 'Stolzl';
  src: url('/stolzl_regular.otf');
  font-weight: 400;
}

@font-face {
  font-family: 'Stolzl';
  src: url('/stolzl_medium.otf');
  font-weight: 500;
}
/* In your css file where you want to use the font */

@theme {
  --padding-inline-main_px: 5rem;

  --color-green_main: rgb(10, 225, 95);
  --color-gray_light: rgb(44, 60, 74);
  --color-gray_main: rgb(33, 42, 52);
  --color-gray_light_xl: #f5f5f8;

  --max-width-maxContainer: 100rem;

  --animate-appear: appear 0.2s ease-out;
  --animate-appear-opacity: opacity 0.4s ease-out;
  --animate-appear-start-block-1500: appear-left 1.5s ease-out;
  --animate-appear-end-block-1500: appear-right 1.5s ease-out;
  --animate-appear-start-block-800: appear-left 0.8s ease-out;
  --animate-appear-end-block-800: appear-right 0.8s ease-out;
  --animate-disappear: disappear 0.2s ease-out;
  --animate-pulse-custom: pulse 3s cubic-bezier(0.4, 0, 0.6, 1) infinite;

  --radius-xl: 0.5rem;
  --radius-lgg: 0.75rem;

  --shadow_card: '0px 4px 33.9px 0px rgba(0, 0, 0, 0.07)';
}

@keyframes appear-right {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(0%);
  }
}

@keyframes appear-left {
  0% {
    transform: translateX(-100%);
  }

  100% {
    transform: translateX(0%);
  }
}

@keyframes appear-opacity {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes appear {
  0% {
    transform: translateY(-100%);
    display: none;
    opacity: 0;
  }
  1% {
    transform: translateY(-99%);
    display: block;
    opacity: 0.01;
  }
  100% {
    transform: translateY(0%);
    display: block;
    opacity: 1;
  }
}

@keyframes disappear {
  0% {
    transform: translateY(0%);
    display: block;
    opacity: 1;
  }
  99% {
    transform: translateY(-99%);
    display: none;
    opacity: 0.01;
  }
  100% {
    transform: translateY(-100%);
    display: none;
    opacity: 0;
  }
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Stolzl, sans-serif;
}

@layer utilities {
  .scrollbar::-webkit-scrollbar {
    width: 0.25rem;
    height: 4rem;
  }

  .scrollbar::-webkit-scrollbar-track {
    border-radius: 1rem;
    opacity: 0;
  }

  .scrollbar::-webkit-scrollbar-thumb {
    background: #e0cbcb;
    border-radius: 1rem;
    border: 3px solid #f6f7ed;
  }

  .scrollbar::-webkit-scrollbar-thumb:hover {
    background: #c0a0b9;
  }
}
